body {
    width: 100%;
    max-width: 1366px;
    margin: 0 auto;
    background:url(../img/background.svg);
    background-size: cover;
    background-repeat: no-repeat;
}


/* header */

.container {
    width: 100%;
    max-width: 1023px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    margin: 51px 0 0 0;
}

.logo-img {
    width: 53px;
    background-image: url(../img/logo-1.png);
}

.link-logo:hover .logo-img {
    width: 53px;
    background-image: url(../img/logo-2.png);
    transition: all .2s ease-in-out;
}

.link-logo:hover span {
    color: #F26522;
    transition: all .2s ease-in-out;
}

.logo-title {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 8px;
}


.logo-milan {
    font-style:normal;
    font-size: 29px;
    color:#FFFFFF;
}

.logo-holidays {
    font-style: normal;
    font-size: 18px;
    color: #FFFFFF;
}

.contacts {
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    margin: 46px 0 0 0;

}

.contacts-mail a {
    font-size: 18px;
    color: #FFFFFF;
}

.contacts-mail a:hover {
    color: #F26522;
    transition: all .3s ease-in-out;
}

.contacts-phone a {
    display: inline-block;
    font-size: 18px;
    color: #FFFFFF;
    margin-top: 19px;

}

.contacts-phone a:hover {
    color: #F26522;
    transition: all .3s ease-in-out;
}


/* main */

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 61px;
    grid-row-gap: 28px;
    margin-top: 22px; 
    
}

.wrapper-img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 3px solid;
    border-image-source: linear-gradient(-45deg, #000000, #ffffff);
    border-image-slice: 1;
    
}

.wrapper-item {
    position: relative;
}

.wrapper-link {
    overflow: hidden;
    margin-bottom: 7px;
}

.descr {
    width: 100%;
    height: 21%;
    position: absolute;
    bottom: 40px;
    left: 0px;
    background-color: #F26522;
    color: #FFFFFF;
    font-size: 20px;
    opacity: 0;
    transition: all 0.5s;
    bottom: 1%
}

.descr::after {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    top: 31px;
    right: 0px;
    background-image: url(../img/view.svg);
    background-repeat: no-repeat;
}

.wrapper-link:hover .descr {
    opacity: 1;
    bottom: 40px;

}

.text-from {
    padding: 7px 0 8px 16px;
    font-size: 10px;
}

.text-price {
    font-size: 20px;
    padding-left: 16px;
}

.span-view {
    font-size: 14px;
    padding-left: 128px;
}

.wrapper-text {
    font-size: 18px;
    color: #FFFFFF;
    text-align: center;
    padding-top: 20px;
}

.wrapper-text:hover {
    color: #F26522;
}

/* footer */
.footer-text {
    font-size: 12px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 49px;
    margin-bottom: 15px;
}


