.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.header-ramda {
    font-weight: 400;
    font-size: 80px;
    line-height: 94px;
    align-items: flex-end;
    text-align:left;
    color: #000000;
    margin: 63px 0 38px 58px;
}

.header-ramda a {
    color: #000000;
}

.header-ramda a span {
    color: #4BCAFF;
}

.header-nav {
    background: #35444F;
    margin: 0 48px;

}
.header-menu {
    display: flex;
    justify-content:center;
    align-items:center;
    
}

.header-li {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color:#FFFFFF;
    border-right: 1px solid #FFFFFF;
    transition: background .3s ease-in-out;
}

.header-li:first-child {
    border-left: 1px solid #FFFFFF;

}

.header-li:hover {
    background:#222F3A;
}


.header-li a {
    color: #FFFFFF;
    padding: 21px 33px 30px 33px;
    display: inline-block;
}

.aside-main {
    display: flex;
    
}

.aside {
    width: 344px;
    margin: 48px 58px;
}

.aside-ul {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    align-items:stretch;
    justify-content:flex-start;
    width: 300px;
}



.aside-li {
    font-size: 27px;
    line-height: 27px;
    color: #485863;
    padding: 26px 0 26px 44px;
    transition: background 0.3s ease-in-out;
}

.aside-li:hover {
    background-color: #DBDBDB;
    border: 1px solid #DBDBDB;
    padding: 26px 0 26px 58px;
}

.aside-li a {
    color: #495863;
}

.main {
    width: 100%;
    max-width: 885px;
}

.foto {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    margin: 48px 50px 0 0;
}

.foto-top {
    padding: 48px 0px;

}

.all-text {
    margin: 37px 50px 14px 0;
    
}

.text {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
    text-align:start;
    padding-bottom: 25px;
}

.footer-nav {
    display: flex;
    background: rgba(99, 105, 110, 0.48);
    margin: 0 58px 30px;
}

.footer-ul {
    display: flex;
    justify-content:center;
    
}

.footer-li {
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
    color: #0C1927;
    padding: 21px 0px 21px 30px;
}

.footer-li a {
    color: #0C1927;
    transition: color .3s ease-in-out;
}

.footer-li a:hover {
    color: #3181A6;
}



.footer-copyright {
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: #010101;
    align-self:center;
    padding: 0 0 0 100px;

}

.footer-copyright a {
    color: #0C1927;
}

.footer-copyright a:hover {
    color: #3181A6;
}