body {
    width: 100%;
    max-width: 1270px;
    margin: 0 auto;
    background-color: #131212;

    
}

.continer {
    width: 100%;
    max-width: 1062px;
    margin: 0 auto;
}


/* .header */

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px
    
}

.header-log {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 216px;
    height: 33px;

}
.header-log p {
    
    color: white;

}

.header-ul {
    display: flex;
    color: white;
    align-items: center;
  
 
}

.header-ul span {
    color: #D6AF76;

}

.header-ul>li {
    margin-left: 39px;
}

.header-img {
    display: flex;
    align-items: center;
    border: 1px solid #E4B564;
    padding: 18px 20px
}

.header-img img {
padding-right: 10px;
}

.header-img a {
    color: #E4B564
}



/* section title-content */

/* .title-content {
    background: url(../img/header-bg.jpeg)
} */

.title {
    text-align: left;
    color: white;
}

.title h1 {
    font-weight: 700;
    font-size: 50px;
    line-height: 48px;
    color: #FFFFFF;
    margin-top: 128px;
    margin-bottom: 41px;
} 


.title p {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
    margin-bottom: 41px;
}


/* grid-title__body */

.grid-title__body {
    display: grid;
    grid-template-columns: 1fr 0.5fr 0.5fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 15px;
    height: 80vh;
    list-style: none;
    
}


.grid-title__item {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    padding: 15px;
}


.grid-title__item__1 {
    background-color: #634F2C;
    color: white;
    /* margin: auto; */
   
}
.grid-title__item__2 {
    background-color: #B4A385;
    color: white;
    grid-column: span 2;
    
}
.grid-title__item__3 {
    background-color: #E4B564;
    color: white;
 
   
    
}
.grid-title__item__4 {
    background-color: #635A4A;
    color: white;
    grid-column: span 2;

    
}
.grid-title__item__5 {
    background-color: #B08C4D;
    color: white;
    grid-column: span 2;
    
}


/* section machinery-content */



.machinery-h2 {
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    color: #FFFFFF;
    margin-top: 161px;
    margin-bottom: 90px;
}

.grid-machinery {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(30, 0.05fr);
    height: 100vh;
    list-style: none;
}

.grid-machinery__item {
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
    padding: 34px 42px 0;

}

.uppercase {
    text-transform: uppercase;
    font-weight: 600;
}

.grid-machinery__item1 {
    color: white;
    background-color: #0E0E0E;
    grid-column: span 1;
    grid-row: span 8;
  
}

.grid-machinery__item2 {
    color: white;
    background-color: #242424;
    grid-column: span 1;
    grid-row: span 11;

}

.grid-machinery__item3 {
    color: white;
    background-color: #1F1F1F;
    grid-column: span 1;
    grid-row: span 7;

}


.grid-machinery__item4 {
    color: white;
    background-color: #0E0E0E;
    grid-column: span 1;
    grid-row: span 8;

}

 .grid-machinery__item5 {
    color: white;
    background-color: #1F1F1F;
    grid-column: span 1;
    grid-row: span 15;
} 

.grid-machinery__item6 {
    color: white;
    background-color: #E4B564;
    grid-column: span 1;
    grid-row: span 11;

} 

.grid-machinery__item7 {
    color: white;
    background-color: #0A0909;
    grid-column: span 1;
    grid-row: span 8;

}


/* section footer" */

.footer {
    margin-top: 50px;

}

.footer-title {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.footer-title a {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    padding: 10px;
    color: #E4B564;
    border: 1px solid #E4B564 ;
}

.footer-h2 {
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    color: #FFFFFF;
    margin-bottom: 72px;
}


/* .grid-footer */

.grid-footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 75vh;
    list-style: none;
    margin-bottom: 238px;
    
}

.grid-footer__item {
    font-weight: 600;
        font-size: 22px;
        line-height: 28px;
        text-align: center;
        color: #FFFFFF;


}

.grid-footer__item p {
    padding-top: 18px;
    padding-bottom: 12px;
}

                

.footer-item-1 {
    background-color: #634F2C;
    display: flex;
    justify-content: center;
    align-items: center;

}

.footer-item-2 {
    background-color: #9c978d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.footer-item-3 {
    background-color: #E4B564;
    display: flex;
    justify-content: center;
    align-items: center;

}

.footer-item-4 {
    background-color: #635A4A;
    display: flex;
    justify-content: center;
    align-items: center;

}

.footer-item-5 {
    background-color: #B08C4D;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

.footer-item-6 {
    background-color: #634F2C;
    display: flex;
    justify-content: center;
    align-items: center;

}

.footer-img {
    display: flex;
    justify-content:center;
    margin-left: 67px;
    margin-bottom: 10px;
}

.footer-img img {
    padding-left: 1px;
}

.footer-img__svg {
    position: absolute;
}