@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #000;
}

.star-wars {
    display: flex;
    justify-content:space-between;
    height: 800px;
    perspective: 400px;
    color: #c7a726;
    font-family: 'Roboto', sans-serif;
    font-size: 500%;
    font-weight: 600;
    letter-spacing: 6px;
    line-height: 150%;
    text-align:justify;
}

.text {
    position: relative;
    top: -100px;
    transform-origin: 50% 100%;
    animation: text 30s linear infinite;
}

@keyframes text {
    0% {
        top: 0;
        transform: rotateX(20deg) translateZ(0);
    }

    100% {
        top: -6000px;
        transform: rotateX(25deg) translateZ(-2500px);
    }
}

.wrapper {
    width: 100%;
    min-height: 60vh;
    top: -25px;
    background-color: linear-gradient(0deg 75% transparent black);
}